<div class="row">
    <div class="col-xs-12">
        <form #shoppingForm="ngForm" (ngSubmit)="saveDetails()">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input ngModel type="text" id="name" name="name" class="form-control" #name="ngModel" required>
                    <small *ngIf="name.touched && name.invalid" class="text-danger">*Please Enter the Name</small>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input ngModel type="number" id="amount" name="amount" class="form-control" required
                        [pattern]="'^[1-9]+[0-9]*$'" #amount="ngModel">
                    <div *ngIf="amount.touched && amount.invalid">
                        <small class="text-danger" *ngIf="amount.errors?.required">*Please Enter the Amount</small>
                        <small class="text-danger" *ngIf="amount.errors?.pattern">*Please Enter the positive
                            Amount</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" style="margin-right: 5px;" type="submit"
                        [disabled]="shoppingForm.invalid || shoppingForm.pristine"><span *ngIf="editMode">Update</span>
                        <span *ngIf="!editMode">Save</span></button>
                    <button class="btn btn-danger" style="margin-right: 5px;" type="button" [disabled]="!editMode" (click)="onDeleteItem()">Delete</button>
                    <button class="btn btn-primary" style="margin-right: 5px;" type="button"
                        (click)="resetShoppingForm()" [disabled]="editMode ? false: shoppingForm.pristine">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
